$font-roboto: 'Roboto', sans-serif;

@import "mixin";
@import "normalize";

@font-face {
  font-family: "Roboto";
  src: url('../fonts/Roboto-regular.ttf') format('truetype');
  font-family: "Roboto-bold";
  src: url('../fonts/Roboto-Bold.ttf') format('truetype');
  font-family: "Deja Vu Sans";
  src: url('../fonts/DejaVuSans.ttf') format('truetype');
  font-family: "Hitch Hike";
  src: url('../fonts/Hitchhike.ttf') format('truetype');
}

* {
  font-family: $font-roboto;
}
.container-fluid {
 max-width: 1200px;
}

a {
  text-decoration: none;
  &:hover {
    cursor: pointer;
  }
}
ul {
  list-style: none;
  padding: 0;
}
li{
  display: inline-block;
}
h2 {
  font-size: 36px;
  color: rgb(28,196,191);
  text-align: center;
  border-bottom: 2px dashed #f5cd15;
  display: inline-block;
  margin: 0 auto;
}

.logo {
  display: inline-block;
  padding: 0;
  img {
    max-height: 70px;
  }
}

header {
  .contacts {
    background-color: #4b4b4b;
    span {
      font-size: 16px;
      line-height: 18px;
      color: rgb(255,255,255);
    }
  }
  .menu {
    background-color: #47d0cc;
    min-height: 80px;

    li {
      line-height: 80px;
      font-size: 20px;
      color: rgb(255,255,255);
      //font-family: $font-roboto;
      font-weight: bold;
    }
  }
  .banner {
    text-transform: uppercase;
    background: url("../img/bg_header.png") no-repeat;
    background-size: cover;
    color: rgb(255,255,255);
    padding: 170px 0 95px;
    h4 {
      font-size: 230px;
      font-family: "Hitch Hike";
      color: rgb(255,255,255);
    }
    p {
      font-size: 40px;
    }
    a {
      width: 200px;
      height: 67px;
      display: block;
      box-shadow: 5px 8.66px 1px rgba(34,31,31,0.15);
      background-color: #f5cd15;
      font-size: 20px;
      letter-spacing: 2px;
      line-height: 67px;
      color: rgb(0,0,0);
      font-weight: bold;
      text-align: center;
      margin: 0 auto;
      &:hover {
        background-color: #47cfcb;
        color: rgb(255,255,255);
        text-decoration: none;
      }
    }
  }
}
.advantages {

}
.statistic {
  color: rgb(118,116,116);
  text-align: center;
  background-image: url("../img/bg_statistic.png");
  background-size: cover;
  p.num {
    font-size: 60px;
    color: rgb(75,75,75);
    font-weight: bold;
  }
  p.text {
    font-size: 24px;
    font-weight: 800;
  }
}
.hotels {
  text-align: center;
  background: url("../img/bg_hotels.png") no-repeat;
  background-size: cover;
  .row .col-sm-4 {
    background-color: white;
  }
  div {
    text-align: center;
  }
  h2 {
    font-size: 36px;
    color: rgb(28,196,191);
    text-align: center;
    text-transform: uppercase;
  }
  span {
    font-size: 24px;
    color: rgb(228,156,14);
  }
  .stars {
    i {
      font-size: 18px;
      line-height: 24px;
      color: #f9ab14;
    }
  }
  .img {
    height: 250px;
    overflow: hidden;
  }
  a {
    width: 167px;
    height: 40px;
    box-shadow: 3.5px 6.062px 1px rgba(34,31,31,0.15);
    background-color: #f5cd15;
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 40px;
    color: rgb(0,0,0);
    text-align: center;
    display: block;
    margin: 0 auto;
    &:hover {
      background-color: #47cfcb;
      color: rgb(255,255,255);
      text-decoration: none;
    }
  }
}
.reviews {
  text-align: center;
  .img-responsive {
    margin: 0 auto;
  }
  .quotes {
    max-width: 35px;
    position: absolute;
    top: 0;
    right: 25%;
  }
  p {
    font-size: 18px;
  }
  .name {
    color: rgb(28,196,191);
  }
  .review {
    color: rgb(118,116,116);
  }
}
.company {
  text-align: right;
  background-image: url("../img/bg_company_foto.jpg");
  background-size: cover;
  .target {
    width: 60%;
    text-align: center;
    margin-left: 40%;
    padding: 50px 60px 50px 0;
    background-image: url("../img/yellow_white.png");
    background-size: cover;
    h2 {
      line-height: 48px;
      color: rgb(132,110,10);
      margin-left: 30%;
    }
    p {
      font-size: 30px;
      line-height: 36px;
      color: rgb(140,78,11);
      text-align: center;
      margin-left: 20%;
    }
    a {
      text-decoration: none;
      display: block;
      margin-left: 50%;
      width: 200px;
      height: 55px;
      box-shadow: 3.5px 6.062px 1px rgba(34,31,31,0.15);
      background-color: #fbedaf;
      font-size: 18px;
      letter-spacing: 2px;
      line-height: 55px;
      color: rgb(0,0,0);
      text-align: center;
      &:hover {
        background-color: #47cfcb;
        color: rgb(255,255,255);
        text-decoration: none;
      }
    }
  }
}
footer {
  text-align: center;
  background-color: #73c1bf;
  .logo {
    p {
    font-size: 18px;
    line-height: 26px;
    color: rgb(25, 77, 76);
    }
    a {
      display: inline-block;
      text-decoration: none;
      color: #407978;
      i {
        font-size: 35px;
        line-height: 35px;
      }
    }
  }
  .adress {
    p {
      font-size: 24px;
      color: rgb(64,121,120);
    }
    #map {
      width: 330px;
      height: 234px;
      background-color: #ffffff;
    }
  }
  .form {
    text-align: center;
    h5 {
      font-size: 24px;
      letter-spacing: 1px;
      color: rgb(0,0,0);
    }
    p {
      font-size: 16px;
      line-height: 18px;
      color: rgb(118,116,116);
    }
  }
}
.copyright{
  height: 85px;
  line-height: 85px;
  background-color: #3e3e3e;
  font-size: 24px;
  color: rgb(118,118,118);
  text-align: center;
}